.Rhistory
.Rproj.user/
*.o
*.so
## ignore the docs folder as this is build by Travis-CI
docs/*
docs/
doc
Meta
results/
development/
.DS_Store
scripts/mra-simulation.html
scripts/mra-simulation_cache/
scripts/mra-simulation_files/
vignettes/.DS_Store
manuscript/*_cache
manuscript/*_files
CRAN-RELEASE
manuscript/bayesMRA.pdf
manuscript/bayesMRA.tex
vignettes/mra-simulation.html