language: r
cache: packages
warnings_are_errors: false

r:
  - oldrel
  - release
  - devel

notifications:
  email:
    on_success: change
    on_failure: change

# for codecov and install of package
r_packages:
  - covr
  - devtools

# only report coverage after build is successful
after_success:
  - Rscript -e 'rmarkdown::render("README.Rmd", output_format = "md_document")'
  - Rscript -e 'devtools::install()'
  - Rscript -e 'devtools::build_vignettes()'
  - Rscript -e 'covr::codecov()'
  - Rscript -e 'pkgdown::build_site()'

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT
  keep-history: true
  local-dir: docs
  on:
    branch: master
